.first {
  min-height: 515px;
  padding: 89px 0 64px 0;
}

.first .first_img {
  display: block;
  margin: 0 auto;
}

.first .first_text {
  margin-top: 37px;
  color: #252525;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.first .date {
  margin-top: 30px;
  color: #299cbd;
  font-family: "Roboto - Black";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.first .first_subtitle {
  margin-top: 25px;
  color: #4a4a4a;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
}
