@import url("./promo/promo.css");
@import url("./waiting/waiting.css");
@import url("./optimization/optimization.css");
@import url("./finish/finish.css");
@import url("./first/first.css");
@import url("./footer/footer.css");

html {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1140px;
  margin: 0 auto;
}

.line {
  width: 292px;
  height: 2px;
  background: #ffffff;
}
